<ion-header>
  <ion-navbar>
  <ion-title>
  SQLite
  </ion-title>
  </ion-navbar>
  </ion-header>
  <ion-content padding>
  <p>Permet de stocker des données de façon structurées</p>
  <ion-list>
  <ion-item>
  <ion-label fixed>Name</ion-label>
  <ion-input type="text" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label fixed>description</ion-label>
  <ion-textarea  [(ngModel)]="description"></ion-textarea>
  </ion-item>
  <ion-item>
  <ion-label fixed>Available</ion-label>
  <ion-checkbox color="primary" [(ngModel)]="isOn"></ion-checkbox>
  </ion-item>

  </ion-list>
  <button ion-button clear (tap)="saveMyProd()">Save my film !!</button>
  <ion-list *ngIf="products">
  <ion-item *ngFor="let movie of products">
  <ion-label fixed>{{ movie }}</ion-label>
  </ion-item>
  </ion-list>
  <button ion-button clear (tap)="retrieveFilms()">Get films saved !!</button>
  </ion-content>